.countryContainer{
    background-color: rgba(73, 182, 233, 0.411);
    border: 10px rgba(0, 0, 0, 0.699) solid;
    border-radius: 5px;
    padding: 0.5rem;
    justify-content: space-between;
  
   
    
   
      
} 
.countryContainer:hover{
    background-color: rgba(255, 255, 255, 0.3);
    
}
.imgContainer img{
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}
.link{
    text-decoration: none;
    color: white;
    display: contents;
}
.link:hover{
    color: black;
}
.name{
    text-align: center;
    text-decoration: none;
    color: black
}

.img{
    width: 100px;
    height: 100px;
}

.countryContainer p{
    text-align: center;
    text-decoration: none;
    color: black
}