
.reset{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.countries{
    text-decoration: none;
 display:grid;
 grid-template-columns: repeat(5, 200px);
 gap: 35px;
 justify-content: center;
 margin-top: 25px;
 margin-bottom:20px

  
}
