.searchBarch{
    padding:0.2rem;
    border-radius: 5px;
    margin-top:10px

}
.link {
    /* position: absolute;
    left: 50px;
    top: 12px; */
    text-decoration: none;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 5%;
    padding:12px;
    color: rgb(10, 10, 10);
    border-radius: 5px;
}
.link:hover {
background-color:white;
}

.container{
    display:flex;
    justify-content: space-around;
    background-color: rgb(63, 156, 156);
    padding: 0.4rem;
    margin:0 12px;
    border-radius:5px;
}

.select{
    margin-top:12px;
    padding:0.2rem;
    border-radius: 5px;

}
