.total{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
    padding: 0.2em;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
   
}
.container{
 margin-top:15px
}
.container button{
    border-radius: 5px;
    width:72px;
    margin: 5px;
    cursor: pointer
}